---
apiVersion: v1
kind: Pod
metadata:
  name: ipsec-test-busybox
  namespace: "{{ check_ipsec_namespace }}"
  labels:
    k8s-app: ipsec-test-busybox
spec:
  nodeSelector:
    kubernetes.io/os: linux
  securityContext:
    runAsNonRoot: true
    runAsUser: 24635
    runAsGroup: 24635
    fsGroup: 24635
  tolerations:
  - key: ""
    operator: Exists
  containers:
  - name: ipsec-test-busybox
    image: registry.gitlab.com/yaook/images/k8s-debian:main
    command:
    - sleep
    - infinity
    resources:
      requests:
        cpu: 100m
        memory: 200
