---
apiVersion: v1
kind: Pod
metadata:
  name: "test-gpu-pod-{{ item.metadata.name }}"
  namespace: "{{ nvidia_device_plugin_test_namespace }}"
spec:
  nodeSelector:
    kubernetes.io/hostname: "{{ item.metadata.name }}"
  restartPolicy: OnFailure
  containers:
    - name: cuda-container
      image: nvcr.io/nvidia/k8s/cuda-sample:vectoradd-cuda10.2
      resources:
        limits:
          nvidia.com/gpu: 1 # requesting 1 GPU
  tolerations:
    - key: k8s.yaook.cloud/gpu-node
      operator: Exists
      effect: NoSchedule
    - key: k8s.yaook.cloud/gpu-node
      operator: Exists
      effect: PreferNoSchedule
...
