apiVersion: v1
kind: ServiceAccount
metadata:
  name: calico-busybox-test
  namespace: "{{ check_calico_namespace }}"

---

kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: calico-busybox-test
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: calico-busybox-test
subjects:
- kind: ServiceAccount
  name: calico-busybox-test
  namespace: "{{ check_calico_namespace }}"